.poster-page{
	position: relative;
  	text-align: center;
  	color: white;
}


.header {
	position: absolute;
	top: 10px;
}

.nav-bar{
	list-style: none;
	background-color: #595959;
	text-align: justify-all;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	top: 90px;
	
}

.nav-bar > li{				/*list elements in class nav-bar*/
	display: inline-block;  /*make nav-bar horizontal*/
	padding-right: 50px; /*make tabs spread out*/
}

.nav-bar > li > a{			/* all the a href links in the list*/
	text-decoration:none;	/*get rid of underline*/
	color: white
}

.nav-bar > li > a:hover{	/*tab changes color when mou hover*/
	color:orchid;
}
